* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* added universal selector for color and font family */
}

body {
  background-color: #d9dcd6;
}

/* header and Navigation Link styling. Need to reflect html page */
header {
  padding: 20px;
  background-color: #2a607c;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}
/* Shortened the class tag to not repeat the header tag and have redundancy */
.seo {
  color: #d9dcd6;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
/* changed padding and image position to even out the page. Elements should be evenly spaced among the page. */
.heroImage {
  display: flex;
  height: 1125px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-size: cover;
  background-position: center;
}

/* Main Content Styling needs to reflect html page */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Main section should be easier to read in css and html page */
.main-content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
}

/* Images in main section should all be 200px */

.main-content img {
  max-height: 200px;
}

#search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

#online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

#social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* aside element reflects html to provide sidebar styling */
/* aside content should have all the same styling as html page 
also changed the padding to line up all the elements*/

aside {
  margin-right: 20px;
  padding: 25px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefits {
  margin-bottom: 32px;
}
/* benefits class should have all centered text */

.benefits h3 {
  text-align: center;
}

/* benefits class should display block, have a margin of 10 px and a max width of 150px */

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* footer styling */
/* footer should match html page */

.footer {
  padding: 30px;
  clear: both;
  text-align: center;
}
.footer h2 {
  font-size: 20px;
}

/* changed footer to black color by selecting all child elements in the footer. By doing this it overrides the universal selector at the top (*) */
footer > * {
  color: black;
}
